.category-card{
    background:#111827;
    border-radius:16px;
    padding:20px;
    color:white;
    height:420px;

    display:flex;
    flex-direction:column;
    
    box-shadow:0 8px 20px rgba(0,0,0,.25);
}

.category-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.category-header h2{
    margin:0;
    font-size:22px;
    color:white;
}

.view-btn{
    background:#22C55E;
    color:white;
    border:none;
    padding:8px 16px;
    border-radius:8px;
    cursor:pointer;
}

.category-scroll{
    flex:1;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    gap:16px;
}

.category-item{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.category-info{
    display:flex;
    justify-content:space-between;
    color:#E5E7EB;
    font-size:15px;
    font-weight:500;
}

.progress-bar{
    width:100%;
    height:8px;
    background:#374151;
    border-radius:999px;
    overflow:hidden;
}

.progress-fill{
    height:100%;
    background:#22C55E;
    border-radius:999px;
}

.category-scroll::-webkit-scrollbar{
    width:6px;
}

.category-scroll::-webkit-scrollbar-thumb{
    background:#475569;
    border-radius:20px;
}
