.kpi-grid{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    gap: 20px;

    width: 100%;

    margin: 25px 0;
}
@media(max-width:1200px){

    .kpi-grid{

        grid-template-columns:repeat(2,minmax(0,1fr));

    }

}

@media(max-width:768px){

    .kpi-grid{

        grid-template-columns:1fr;

    }

}