.kpi-card{

    background:#ffffff;

    border-radius:20px;

    padding:25px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.3s;

}

.kpi-card:hover{

    transform:translateY(-5px);

}

.kpi-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.kpi-title{

    color:#64748B;

    font-size:18px;

    margin:0;

}

.kpi-value{

    margin-top:15px;

    font-size:50px;

    color:#0F172A;

}

.kpi-icon{

    width:65px;

    height:65px;

    border-radius:18px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:30px;

}