*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{

background:#060816;

overflow:hidden;

}

.login-page{

display:grid;

grid-template-columns:60% 40%;

min-height:100vh;

}

/* LEFT */

.hero{

position:relative;

display:flex;

align-items:center;

justify-content:center;

background:

linear-gradient(

135deg,

#1d4ed8,

#111827,

#060816

);

overflow:hidden;

}

.overlay{

position:absolute;

width:700px;

height:700px;

border-radius:50%;

background:

rgba(255,255,255,.05);

filter:blur(100px);

}

.hero-content{

position:relative;

z-index:10;

width:75%;

color:white;

}

.logo{

display:inline-block;

padding:10px 18px;

background:rgba(255,255,255,.1);

border-radius:50px;

margin-bottom:30px;

}

.hero h1{

font-size:72px;

line-height:1.1;

margin-bottom:25px;

}

.hero p{

font-size:22px;

color:#CBD5E1;

line-height:1.7;

}

/* RIGHT */

.login-side{

display:flex;

justify-content:center;

align-items:center;

background:#0f172a;

}

.login-card{

width:430px;

padding:50px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(25px);

border-radius:25px;

border:1px solid rgba(255,255,255,.08);

}

.login-card h2{

font-size:40px;

color:white;

margin-bottom:10px;

}

.login-card p{

color:#94A3B8;

margin-bottom:35px;

}

.login-card input{

width:100%;

padding:18px;

margin-bottom:20px;

background:#1E293B;

border:none;

border-radius:14px;

color:white;

font-size:16px;

outline:none;

transition:.3s;

}

.login-card input:focus{

border:1px solid #2563EB;

}

.login-card button{

width:100%;

padding:18px;

background:#2563EB;

color:white;

border:none;

border-radius:14px;

font-size:18px;

cursor:pointer;

transition:.3s;

}

.login-card button:hover{

background:#1d4ed8;

transform:translateY(-2px);

}