.inventory-table-card{
    background:#1E293B;
    border-radius:20px;
    overflow-x:auto;
    overflow-y:hidden;
}

.inventory-table-card table{
    width:100%;
    border-collapse:collapse;
    background:#1E293B;
}

.inventory-table-card thead{
    background:#0F172A;
}

.inventory-table-card tbody{
    background:#1E293B;
}

.inventory-table-card tr{
    background:#1E293B;
}

.inventory-table-card th{
    padding:16px 20px;
    color:#CBD5E1;
}

.inventory-table-card td{
    padding:16px 20px;
    color:#F8FAFC;
    background:#1E293B;
}
/* Header */

.table-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

/* View All Button */

.view-all-btn{
    background:#2563EB;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:10px;
    font-size:14px;
    font-weight:600;
    cursor:pointer;
    transition:all .25s ease;
}

.view-all-btn:hover{
    background:#1D4ED8;
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(37,99,235,.35);
}

.view-all-btn:active{
    transform:translateY(0);
}