.warehouse-container{

    display:flex;

    background:#0F172A;

}

.warehouse-content{

    margin-left:270px;

    width:calc(100% - 270px);

    padding:25px;

    min-height:100vh;

}

.warehouse-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.warehouse-header h1{

    color:white;

}

.add-btn{

    background:#2563EB;

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;

}

.warehouse-table{

    width:100%;

    margin-top:25px;

    border-collapse:collapse;

    background:#1E293B;

    border-radius:15px;

    overflow:hidden;

}

.warehouse-table th{

    background:#111827;

    color:#CBD5E1;

    padding:15px;

    text-align:left;

}

.warehouse-table td{

    color:white;

    padding:15px;

    border-bottom:1px solid #334155;

}

.warehouse-table tr:hover{

    background:#273549;

}

.active{

    background:#22C55E;

    color:white;

    padding:5px 14px;

    border-radius:20px;

}

.view-btn{

    background:#3B82F6;

    color:white;

    border:none;

    padding:8px 14px;

    border-radius:8px;

    margin-right:10px;

    cursor:pointer;

}

.edit-btn{

    background:#F59E0B;

    color:white;

    border:none;

    padding:8px 14px;

    border-radius:8px;

    cursor:pointer;

}